[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langfuse = "==2.50.3"
litellm = "*"
python-dotenv = "==1.0.1"
fastapi = "*"
uvicorn = "*"
supabase = "*"
requests = "*"
pandas = "*"
openai = "*"
together = "*"
anthropic = "*"
patronus = "*"
asyncio = "*"
nest-asyncio = "*"
tavily-python = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
