[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
litellm = "*"
python-dotenv = "==1.0.1"
fastapi = "*"
uvicorn = "*"
supabase = "*"
requests = "*"
pandas = "*"
openai = "*"
together = "*"
anthropic = "*"
asyncio = "*"
nest-asyncio = "*"
pika = "*"
openpyxl = "*"
langchain = "*"
langchain-huggingface = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-core = "*"
langchain-community = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
tavily-python = "*"

[requires]
python_version = "3.11"
