[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
litellm = "==1.61.15"
python-dotenv = "==1.0.1"
requests = "*"
pandas = "*"
openai = "*"
together = "*"
anthropic = "*"
nest-asyncio = "*"
langchain-huggingface = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-core = "*"
langgraph = "*"
google-genai = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
tavily-python = "*"
chromadb = "*"
langchain-community = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
